@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-toprated-movie {
    font-family: 'RixYeoljeongdo_Regular';
    color: white;
    font-size: 2.5rem;
    padding: 3rem 0 0rem 5rem; 
}
.carousel-container {
    overflow: hidden;
    height: 440px;
    padding-left: 50px; 

    
}

.movie-slider {
    padding: 0 !important;
    margin-left:0 !important;
  }
