.detail-row {
    column-gap: 10rem;
    row-gap: 1rem;
  }

.fw-bold{
    font-size:4rem;
}

.detail-tagline{
    font-size: 1.8rem;
    font-style: italic;
    color: rgb(238, 42, 42);
}

.detail-overview {
    border-top: 1px solid #ccc;    
    border-bottom: 1px solid #ccc;  
    padding: 1rem 0;                 
    margin: 1.5rem 0;               
    line-height: 1.6;                
  }
.detail-credit{
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.credit-cast{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}