@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-moviename {
    font-family: 'RixYeoljeongdo_Regular';
    color: white;
    font-size: 2rem;
    padding: 3rem 0 0rem 5rem;
}
.carousel-container {
    overflow: hidden;
    height: 440px;
    padding-left: 50px !important;
    margin-left: 0 !important;
    
}

.movie-slider {
    padding: 0 !important;
    margin-left:0 !important;
  }
.main-icon {
    font-size: 50px; 
}
  
@media (max-width: 768px) {
    .main-moviename {
        font-size: 1.8rem; 
        padding: 2rem 0 0rem 2rem; 
    }
    .main-icon {
        font-size: 35px; 
    }
    
}
@media (max-width: 464px) {
    .carousel-container {
      width: 100vw !important;      
      padding-left: 2vw !important;  
      box-sizing: border-box;        
      overflow: hidden;              
    }
    .movie-slider {
      padding: 0 !important;
      margin: 0 2vw;                 
    }
  }
  