@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-moviename {
    font-family: 'RixYeoljeongdo_Regular';
    color: white;
    font-size: 2rem;
    padding: 3rem 0 0rem 5rem;
}
.carousel-container {
    
    height: 440px;
    padding-left: 50px !important;
    margin-left: 0 !important;
    
}

.carousel-container .react-multi-carousel-dot button {
  border: none;
  background: #ccc;   /* 기본 dot 색상 */
  width: 10px;        /* dot 크기 */
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background 0.3s;
}

.carousel-container .react-multi-carousel-dot--active button {
  background: #fc2e0a; /* 활성 dot 색상 (예: 토마토색) */
}

.movie-slider {
    padding: 0 !important;
    margin-left:0 !important;
  }

/* 도트와 푸터 사이 간격 */
.react-multi-carousel-dot-list {
  margin-bottom: 1rem;
}

.main-icon {
    font-size: 50px; 
}
  
@media (max-width: 768px) {
    .main-moviename {
        font-size: 1.8rem; 
        padding: 2rem 0 0rem 2rem; 
    }
    .main-icon {
        font-size: 35px; 
    }
    
}
@media (max-width: 464px) {
    .carousel-container {
      width: 100vw !important;      
      padding-left: 2vw !important;  
      box-sizing: border-box;        
      overflow: hidden;              
    }
    .movie-slider {
      padding: 0 !important;
      margin: 0 2vw;                 
    }
  }
  