@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main-title {
    font-family: 'LeferiPoint-SpecialItalicA';
    font-weight : bold
}
.main-overview {
    font-family: 'LeferiPoint-SpecialItalicA'
}
.release-year {
    font-size: 0.4em; 
    margin-left: 0.5rem;
  }
.rating {
    padding-bottom: 20px;
}

.banner {
    height: 60vh;
    background-position: center;
}
.main-overview {
    font-size: 0.7em;
}
/*  배너 밑으로 갈수록 흐리게 인데 나중에 할거면?? 비포삭제 
 */
.banner:before {
    content:'';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 80vh;
    width: 100%;
}

.banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 2rem 2rem 1rem 2rem;
}
.banner-text-area h1 {
    font-weight: bold;
}
.banner-text-area > *{
    z-index: 1;
}

@media (max-width: 1024px) {
  .main-title {
    font-size: 2.2rem;
  }
  .release-year {
    font-size: 1.1rem;
    margin-left: 0.3rem;
  }
  .main-overview {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
    .main-title {
    font-size: 0.8rem;
  }
  .release-year {
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }
  .main-overview {
    font-size: 0.85rem;
    display: none; /*  모바일에서 개요 숨기기 */
  }
  }


/* 모바일: 767px 이하 */
@media (max-width: 412px) {
  .main-title {
    font-size: 0.8rem;
  }
  .release-year {
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }
  .main-overview {
    font-size: 0.85rem;
    display: none; /*  모바일에서 개요 숨기기 */
  }
  .rating {
    display: none;
  }
}
