@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main-title {
    font-family: 'LeferiPoint-SpecialItalicA';
    font-weight : bold
}
.main-overview {
    font-family: 'LeferiPoint-SpecialItalicA'
}
.release-year {
    font-size: 0.4em; 
    margin-left: 0.5rem;
  }
.rating {
    padding-bottom: 20px;
}

.banner {
    height: 60vh;
    background-position: center;
}
.main-overview {
    font-size: 0.7em;
}
.banner:before {
    content:'';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 60vh;
    width: 100%;
}

.banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 2rem 2rem 1rem 2rem;
}
.banner-text-area h1 {
    font-weight: bold;
}
.banner-text-area > *{
    z-index: 1;
}



