@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.movie-card {
    font-family: 'LeferiPoint-SpecialItalicA';
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    
}
.moviecard-badge {
    margin-right: 0.2rem;
    margin-bottom: 0.5rem; 
}

.moviecard-adult {
    margin-top: 0.4rem;
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding-left: 1rem;
}
.overlay h2 {
    padding-top: 2rem;
}
.overlay:hover {
    opacity: 1;
}

.movie-card:hover {
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}
.heart-button-container{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.heart-button {
    border: none;
    background: transparent;
    padding: 0;
}

@media (max-width: 464px) and (hover: none) {
    .movie-card:hover {
      transform: none !important;
    }
  }