body{
    background-color: black;
    color: white;
    min-height: 100vh;
}

.movie-movie {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

.movie-movie .movie-content {
    flex: 1;                  
  }

.pagination {
    display: flex;               
    justify-content: center;     
    list-style: none;            
    padding: 0;
    margin: 4rem 1rem;
  }

.pagination .page-link {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important; 
  }
.pagination .disabled .page-link {
    background-color: transparent !important;
  }
.pagination .active .page-link {
    background-color: transparent !important;
  }
.pagination .page-link:hover,
.pagination .page-link:focus {
    color: gray !important;
  }

.no-results-container {
    min-height: 60vh; 
  }