/* 눈누폰트  */
@font-face {
  font-family: 'LeferiPoint-SpecialItalicA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bg-body-tertiary{
    background-color: black !important;
    font-weight : bold
}
/* 구글폰트 */
.nav-home,
.nav-movies {
    font-family: 'Special Gothic Expanded One', sans-serif; 
    color:white !important;
}
.nav-home:hover,
.nav-movies:hover {
  color: gray !important;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  padding: 0.25rem 0.5rem; 
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}